<p id="notice"><%= notice %></p>

<%= button_to 'Create Timesheet Entry', new_timesheet_path, method: 'get' %>

<h2>Timesheets Entries</h2>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @timesheets.each do |timesheet| %>
      <tr>
        <td><%= timesheet.show_data %></td>
        <td><%= link_to 'Destroy', timesheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
